pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_output_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Copy data1').Error.errorCode",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Copy data1').Error.errorCode",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@string(activity('Copy data1'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"error": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-23T04:50:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}