pipeline/Process Excel Files.json
{
	"name": "Process Excel Files",
	"properties": {
		"activities": [
			{
				"name": "Process Excel Sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "read excel sheet names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read excel sheet names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_excel",
									"type": "DatasetReference",
									"parameters": {
										"sheetname": {
											"value": "@item().sheetname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_loadexceldata",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@concat(item().sheetname,'_',\nformatDateTime(utcNow(),'yyyy-dd-MM'))\n\n\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "read excel sheet names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_excelsheets_sqltable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"ExcelSheets": {
				"type": "Array",
				"defaultValue": [
					"sales",
					"claims",
					"car-brand-origin-country"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-12T04:52:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}